NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://thirsty.cat
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/thirsty.cb/
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@thirsty.cb?_r=1&_t=ZG-99Jf5zHSj8j
NEXT_PUBLIC_WHATSAPP_COMMUNITY_URL=https://chat.whatsapp.com/Iz82uQG3zEtCjMajvD69ZJ
